* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: break-word;
    color: white;
    text-transform: capitalize;
}

body {
    background: #000;
    position: relative;
}

.first-line {
    position: fixed;
    background: #000;
    box-shadow: 1px -1px 5px 1px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 2em;
    height: 100vh;
    border-radius: 30% 0 0 30%;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}

.inline {
    line-height: 13vh;
    /* position: relative; */
    font-size: 0;
    transition: all .7s ease;
}

.first-line:hover {
    width: 8em;
    transition: all .5s ease;
}

.first-line:hover .inline {
    font-size: 1.2em;
    font-weight: 400;
    transition: all .5s ease;
}

.first-line a:hover {
    color: aqua;
    transition: all .7s;
}

.first-line li {
    list-style-type: none;
}

.first-line a {
    text-decoration: none;
    transition: all .5s;
}

.img {
    border: .8em solid rgba(128, 128, 128, 0.589);
}

.img-and-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: self-end;
}

.img,
.my-info {
    width: 15em;
}

.info-head h2 {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy;
    text-align: center;
}

.info-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.box {
    background: rgb(53, 51, 51);
    border: 1px solid #ffffff87;
    padding: 1em;
    margin: .3em;
    transition: all .5s;
    width: 15em;
}

.box:hover {
    box-shadow: 0 0 13px rgb(255, 255, 255);
    transform: translateY(-9px);
    transition: all 1s;
}

.my-info li {
    list-style-type: none;
}

.two-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.firstcolumn {
    text-align: right;
}

.firstcolumn .first-para,
.firstcolumn .second-para,
.firstcolumn .third-para {
    border-right: 2px solid aqua;
    padding-right: 1em;
}

.firstcolumn,
.second-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i.fa,
i.fas {
    background: #00ffff9e;
    padding: .4em;
}

i {
    transition: all 2s;
}

.second-column .first-para,
.second-column .second-para,
.second-column .third-para {
    border-left: 2px solid aqua;
    padding-left: 1em;
}

.firstcolumn .first-para:hover i,
.firstcolumn .second-para:hover i,
.firstcolumn .third-para:hover i,
.second-column .first-para:hover i,
.second-column .second-para:hover i,
.second-column .third-para:hover i {
    border-radius: 3em;
    color: #00ffff9e;
    background: #4b454587;
    transition: all 2s;
}

.statistics {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.statistics .first-column {
    display: flex;
    flex-direction: column;
}

.wordpress,
.jquery,
.photoshop,
.html5 {
    background: #222;
    margin-bottom: 1em;
    width: 45vw;
    height: .7em;
    margin-top: 2em;
    border-radius: 3em;
    position: relative;
}

.wordpress .text,
.jquery .text,
.photoshop .text,
.html5 .text {
    position: absolute;
    top: -1.1em;
}

.wordpress::after {
    content: "";
    background: #007bff;
    position: absolute;
    border-radius: 3em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 3em;
}

.jquery::after {
    content: "";
    background: #007bff;
    position: absolute;
    border-radius: 3em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 5em;
}

.photoshop::after {
    content: "";
    background: #007bff;
    position: absolute;
    border-radius: 3em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 2em;
}

.html5::after {
    content: "";
    background: #007bff;
    position: absolute;
    border-radius: 3em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 3em;
}