*{
    padding: 0;
    margin: 0;
    color: white;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: #000;
    overflow-x: hidden;
}
.first-line{
    position: fixed;
    background: #000;
    box-shadow: 0 0 5px 1px lightgray;
    top: 0;
    left: 0;
    height: 5em;
    right: 0;
    display: flex;
    width: 100%;
    z-index: 2;
}

.inline{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.first-line li{
    display: inline-block;
    list-style-type: none;
}

.first-line h1{
    margin-left: .2em
}

.first-line ul, .first-line nav{
    display: inline-block;
    margin-right: 2em;
}

.first-line li{
    padding: 0 .5em;
}
.first-line a{
    text-decoration: none;
}

.inline a, .inline li{
    font-size: 1.1em;
    transition: all .2s;
}

.inline a:hover, .inline li:hover{
    color: #007bff;
    transition: all .4s;
}
article.portfolio{
    position: absolute;
    opacity: 0.1;
    font-size: 170px;
    top: -40px;
    left: 0;
    right: 0;
    color: transparent;
    text-transform: capitalize;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: -1;
    width: 100vw;
}
li{
    padding: 0 1em;
    list-style-type: none;
}
p{
    font-size: 1.2em;
    margin-left: 3.2em;
    color: rgb(168, 164, 164);
    width: 28em;
    line-height: 2em;
    margin-top: 2em;
}
h2{
    font-size: 2em;
    margin-top: 4em;
    margin-left: 2em;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav.unfixed {
    display: flex;
    margin: 5em 0 2em;
    font-size: 1.1em;
    cursor: pointer;
}
nav.unfixed li:hover{
    color: #007bff;
    transition: all .4s;
}

nav.unfixed li:nth-of-type(1){
    color: #007bff;
}
figure.container{
    display: inline-block;
    justify-content: space-around;
}
.inner-img{
    height: 17em;
    width: 18em;
    border-radius: .6em;
    overflow: hidden;
    margin: .7em;
    transition: all 1s;
}
.inner-img:hover{
    transform: scale(1.05);
    filter: brightness(0.3);
    transition: all 1s;
}