* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: break-word;
    color: white;
    text-transform: capitalize;
}

body {
    background: #000;
    position: relative;
}

.first-line {
    position: fixed;
    background: #000;
    box-shadow: 1px -1px 5px 1px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 2em;
    height: 100vh;
    border-radius: 30% 0 0 30%;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}

.inline {
    line-height: 13vh;
    /* position: relative; */
    font-size: 0;
    transition: all .7s ease;
}

.first-line:hover {
    width: 8em;
    transition: all .5s ease;
}

.first-line:hover .inline {
    font-size: 1.2em;
    font-weight: 400;
    transition: all .5s ease;
}

.first-line a:hover {
    color: aqua;
    transition: all .7s;
}

.first-line li {
    list-style-type: none;
}

.first-line a {
    text-decoration: none;
    transition: all .5s;
}
article.portfolio{
    position: absolute;
    opacity: 0.1;
    font-size: 170px;
    top: -40px;
    left: 0;
    right: 0;
    color: transparent;
    text-transform: capitalize;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: -1;
    width: 100vw;
}
li{
    padding: 0 1em;
    list-style-type: none;
}
p{
    font-size: 1.2em;
    margin-left: 3.2em;
    color: rgb(168, 164, 164);
    line-height: 2em;
    text-align: justify;
    margin-top: 2em;
}
h2{
    font-size: 2em;
    margin-left: 2em;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav.unfixed {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0 2em 2em;
    font-size: 1.1em;
    cursor: pointer;
}
nav.unfixed li:hover{
    color: #007bff;
    transition: all .4s;
}

nav.unfixed li:nth-of-type(1){
    color: #007bff;
}
figure.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 2em;
}
.inner-img{
    height: 17em;
    width: 18em;
    border-radius: .6em;
    overflow: hidden;
    transition: all 1s;
    margin: 1em;

}
.inner-img:hover{
    transform: scale(1.05);
    filter: brightness(0.3);
    transition: all 1s;
}